.criminal__info {
    border: dotted black 0.5px;
    padding: 15px;
    margin: 5px 15px;
    text-align: start;
    flex-basis: 25%;
    flex-grow: 0;
}

.criminals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.criminal__name {
    font-size: 20px;
    padding-bottom: 5px;
}

.criminals__title {
    display: flex;
    justify-content: center;
}