@import "./criminals.css";
@import "./officers.css";
@import "./notes.css";
@import "./witness.css";
@import "./header.css";
@import "./noteForm.css";

.lists {
    display: flex;
    margin-top: 15px;
}

.noteListContainer {
    flex: 1;
}

.peopleList {
    flex: 4;
}

.listButtons {
    display: flex;
    justify-content: space-around;
}

.mainTitle {
    display:flex;
    justify-content: center;
}