.witness--container {
    border: dotted 0.5px crimson;
}

.witnessNote {
    border: dotted 1px blue;
    padding: 0.5rem;
}

.witness--header {
    display: flex;
    justify-content: center;
}

.witness--name {
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
}

.witness--statement {
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
}

.witnessListButton {
    display: flex;
    justify-content: flex-end;
}